{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron">
        <h1>Info about our company</h1>
        <p> sit amet, consectetur adipisicing elit. Accusantium aperiam asperiores autem commodi deserunt dolore
            exercitationem harum, id incidunt laboriosam modi molestiae nam nesciunt nisi officiis omnis repellat,
            repellendus similique soluta sunt veritatis vero, vitae voluptatem voluptates voluptatibus? Ab accusamus
            adipisci amet asperiores aspernatur eligendi et exercitationem illum impedit maiores maxime molestias neque
            nulla odio pariatur perferendis quaerat, quasi quia similique sunt tenetur vero voluptatibus! Aliquid atque
            enim explicabo ipsa nostrum obcaecati. Animi autem, beatae dolores eius expedita fugiat nihil obcaecati qui
            sit velit voluptate, voluptatum. Alias beatae explicabo iusto labore magni, maxime, officia, perspiciatis
            quod sit ullam vitae voluptatum? Accusamus, adipisci enim hic iste itaque iusto, laboriosam molestiae
            nesciunt nostrum omnis quia quis quod quos reiciendis reprehenderit velit vero. Adipisci aliquam culpa
            ducimus fuga itaque minus nihil perferendis placeat quia repudiandae! Amet aspernatur autem dolor ipsam iste
            itaque minus natus nostrum, numquam odit omnis porro saepe veritatis vitae voluptatem!</p>
    </div>
{% endblock %}